
body {
  background-color: #dddddd;
  color: #000000;
  font-family: Arial, sans-serif;
}

header {
  background-color: #04012C;
  color: #F7F0F5;
  text-align: center;
  padding:30px;
}

h1{
  font-size: 36px;
}
h2{
  color:#04012C
}

  p{
    font-size: 18px;
    list-style: 1.6;
  } 