body{
    background-color: #FF0000;
    color: #000000;
}
header{
    background-color: #F7F0F5;
    color:#990067;
}
main {
    background-color: #000000;
    color: #FF00D7;
}
  section{
    background-color: #000000;
    color: #FF0000 ;
  }
  footer{
    background-color: #2E0400;
    color: #FF0068;
  }